.env
.env.local
.env.*.local
node_modules/
vendor/
.DS_Store
.vscode/
.idea/
*.log
backend/storage/*.key
backend/public/storage
backend/public/build
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*
frontend/dist
frontend/build
package-lock.json
composer.lock
